<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>INFINITY CINEMA</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        .app-wrapper {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        .app-main {
            flex: 1 0 auto;
        }

        
    </style>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/adminlte.css" />
    <link rel="stylesheet" href="~/themify/themify-icons/themify-icons.css" />
    <link rel="stylesheet" href="~/css/seats.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    
    @await RenderSectionAsync("Styles", required: false)
</head>

<body class="sidebar-expand-lg bg-body-tertiary d-flex flex-column min-vh-100">
    <div class="app-wrapper">
        <partial name="_AdminHeader" />
        <partial name="_AdminSidebar" />
        <main class="app-main">
            <div class="app-content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
        </main>
        @* <partial name="_AdminFooter" /> *@
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/adminlte.js"></script>
    <script src="~/js/daypilot-all.min.js"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>